html { /* html   و ایمیج بکگراند هم از این قسمت */
    background: url("back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {  /* body  از این استایل پشتیبانی میشود */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    background-color: white; /* در این قسمت از فلکس استفاده کردیم و هر المانی که از این کلاس بهره ببرد 'class = 'main-contetn ; */
    height: 400px;
    width: 500px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    opacity: 90%;
}


